:root {
    --main-title-color: #212121;
    --title-color: #FFFFFF;
    --text-color: #757575;
    --accent-color: #2196F3;
    --logo-color-header: #000000;
    --logo-color-footer: #FFFFFF;
    --text-button-first-color: #FFFFFF;
    --text-button-second-color: #212121;
    --main-button-color-background: #2196F3;
    --secondary-button-color-background: #F5F4FA;
    --primary-background-color: #FFFFFF;
    --second-background-color: #2F303A;
    --third-background-color: #F5F4FA;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-title-color);
    background-color: var(--primary-background-color);
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 94px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover, 
.link:focus {
    color: var(--accent-color);
}

.header-menu-list 
.current {
    color: var(--accent-color);
}

.btn:hover ,
.btn:focus {
    color: var(--text-button-first-color);
    background-color: var(--accent-color);
}

.btn:active {
    color: var(--text-button-first-color);
    background-color: var(--accent-color);
}

.accent-color {
    color: var(--accent-color);
}

/*--------------header------------------*/

.header-container {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
    padding-top: 32px;
    padding-right: auto;
    padding-bottom: 32px;
    padding-left: auto;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--logo-color-header);
    margin-right: 93px;
}

.header-menu-list {
    display: flex;
}

.header-menu-item:not(:last-child) {
    margin-right: 50px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts-item {
    padding: 25px;
}

.header-contacts-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/*-----------------main-page----------------------*/

/*hero*/

.hero {
    background-color: var(--second-background-color);
}

.hero-container {
    padding: 200px auto;
    margin-bottom: 94px;
}

.hero-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero-title {
    color: var(--title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    min-width: 600px;
    margin-bottom: 30px;
    
}

.hero-button {
    color: var(--title-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    align-items: center;
    text-align: center;
}

/*description*/

.description-container {
    padding: 0 0;
    margin-bottom: 94px;
}

.description-list {
    display: flex;
}

.description-item {
    width: 270px;
}

.description-item:not(:last-child) {
    margin-right: 30px;
}

.description-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.description-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/*what-are-we-doing*/

.what-are-we-doing-container {
    padding: 0 0;
    margin-bottom: 94px;
}

.what-are-we-doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    min-width: 376px;
    margin-bottom: 50px;
}

.what-are-we-doing-list {
    display: flex;
    justify-content: center;
}

.what-are-we-doing-item:not(:last-child) {
    margin-right: 30px;
}

/*our-team*/

.our-team {
    background-color: var(--third-background-color);
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-masters {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/*------------------portfolio----------------------*/

.portfolio-button-container {
    display: flex;
    flex-direction: column;
}

.button-list {
    display: flex;
}

.button-item {
    display: flex;

    
    margin: 8px;
}

.button-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--secondary-button-color-background);
    padding: 6px 22px;
    border-radius: 4px;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}

.project-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color:var(--text-color);
}

/*------------------footer--------------------*/

.footer {
    background-color: var(--second-background-color);
}

.footer-container {
    display: flex;
    flex-direction:column;
    padding-top: 60px;
    padding-right: auto;
    padding-bottom: 60px;
    padding-left: auto;
}

.footer-container-logo {
    min-width: 145px;
    margin-bottom: 20px;
}

.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color-footer);
}

.footer-address {
    font-style: inherit;
}

.footer-container-contacts {
    min-width: 231px;
}

.footer-container-contacts:not(:last-child) {
    padding-bottom: 9px;
}

.footer-contacts-map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-color);
    width: 231px;
}

.footer-contacts-links {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 231px;
    }




